.recipe-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.recipe-info p {
  margin: 0;
  font-size: 0.9rem;
}

.diff-added {
  background-color: #d4fcbc;
}

.diff-removed {
  background-color: #fbb6c2;
  text-decoration: line-through;
}
